@page "/"

<div class="row">
    <div class="col text-center">
        <h1>Welcome to our Game Industry Page</h1>
    </div>
</div>

<div class="row">
    <div class="col text-center">
        <h2>Show all games in Mock Database:</h2>
    </div>
</div>

<!--Урок 2-->
<!--Урок 4-->
<GamesListTable games="games" />
    @*<ChildContent>
        <tr><span style="text-align: center; color: red; font-weight: bolder">Elements loading...</span></tr>
    </ChildContent>*@
    @*<EmptyList>
        <tr><span style="text-align: center; color: blue; font-weight: bolder">No items found...</span></tr>
    </EmptyList>*@
@*</GamesListTable>*@

@*<IndividualGame Game="oneGameToShow" IsTable="false" DisplayButton="true" SwitchGame="ShowNewGame" />*@

<!--Урок 2-->
@code {
    private List<Game> games /*= new List<Game>()*/;
    Random rnd;

    Game oneGameToShow;

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(2000);

        games = new List<Game>()
        {
            new Game()
            {
                Name = "Farming Simulator 2019",
                Genre = "Simulator",
                ReleaseDate = new DateTime(2018, 11, 19)
            },
            new Game()
            {
                Name = "The Witcher 3",
                Genre = "Action/RPG",
                ReleaseDate = new DateTime(2015, 05, 18)
            },
            new Game()
            {
                Name = "Destroy All Humans!",
                Genre = "Action-Adventure",
                ReleaseDate = new DateTime(2020, 07, 28)
            }
        };

        rnd = new Random(DateTime.Now.Millisecond);
        oneGameToShow = games[rnd.Next(0, games.Count)];
    }

    void ShowNewGame()
    {
        oneGameToShow = SwitchGame();
    }

    Game SwitchGame()
    {
        Game tempGame;

        if (games.Count >= 2)
        {
            int iterator = rnd.Next(0, games.Count);
            tempGame = games[iterator];
        }
        else if (games.Count == 1)
            tempGame = games[0];
        else
            // return null;
            return new Game() { Name = "No more items!", ReleaseDate = DateTime.Now };

        return tempGame;
    }
}