<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Release Date</th>

                @*Урок 3 привязка данных*@
                <th><input type="checkbox" @bind="displayButton" /></th>
            </tr>
        </thead>
        <tbody>
            <GenericList ListOfItems="games">
                <ItemTemplate Context="game">
                    <IndividualGame Game="game" IsTable="true" DisplayButton="displayButton" DeleteGame="DeleteTheGame" />
                </ItemTemplate>
            </GenericList>
        </tbody>
    </table>
</div>

@code {
    /*Урок 2*/
    [Parameter] public List<Game> games { get; set; }

    /*Урок 4*/
    //[Parameter] public RenderFragment ChildContent { get; set; }
    //[Parameter] public RenderFragment EmptyList { get; set; }

    bool displayButton = false;

    /*Урок 3*/
    void DeleteTheGame(Game game)
    {
        games.Remove(game);
    }
}
