<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Release Date</th>

                <th><input type="checkbox" @onchange="@(() => displayButton = !displayButton)" /></th>
            </tr>
        </thead>
        <tbody>
            @if (games == null)
            {
                <tr>LOADING DATA...</tr>
            }
            else if (games.Count == 0)
            {
                <tr>NO ITEMS IN ARRAY...</tr>
            }
            else
            {
                @foreach (var item in games.OrderBy(x => x.ReleaseDate))
                {
                    @*<tr>
                        <td>@item.Name</td>
                        <td>@item.Genre</td>
                        <td>@item.ReleaseDate.ToString("dd.MM.yyyy")</td>
                    </tr>*@
                    <IndividualGame Game="item" IsTable="true" DisplayButton="displayButton" />
                }
            }
        </tbody>
    </table>
</div>

@code {
    /*Урок 2*/
    [Parameter] public List<Game> games { get; set; }

    bool displayButton = false;
}
