<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Genre</th>
                <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            @if (games == null)
            {
                <tr>LOADING DATA...</tr>
            }
            else if (games.Count == 0)
            {
                <tr>NO ITEMS IN ARRAY...</tr>
            }
            else
            {
                @foreach (var item in games)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Genre</td>
                        <td>@item.ReleaseDate.ToString("dd.MM.yyyy")</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    private List<Game> games { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(3000);

        games = new List<Game>()
        {
            new Game()
            {
                Name = "Farming Simulator 2019",
                Genre = "Simulator",
                ReleaseDate = new DateTime(2019, 11, 19)
            },
            new Game()
            {
                Name = "The Witcher 3",
                Genre = "Action/RPG",
                ReleaseDate = new DateTime(2015, 05, 18)
            },
            new Game()
            {
                Name = "Destroy All Humans!",
                Genre = "Action-Adventure",
                ReleaseDate = new DateTime(2020, 07, 28)
            }
        };
    }
}
