@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
    @*Урок 6*@
    @*<span style="color: green">Hello from Layout menu content</span>*@
</div>

<div class="main">
    <div class="top-row px-4">
        @*Урок 6*@
        @*<span style="color: orange; float: left;">Hello from Layout body top content</span>*@
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body

        @*Урок 6*@
        @*<span style="color: red">Hello from Layout body bottom content</span>
        <GameIndustry.Pages.Counter />*@
    </div>
</div>
